body{
	margin: 0px auto;
	max-width: 800px;
	background-color: #eeeeee;
	color: #222222;
	font-family: 'Segoe UI', Tahoma, sans-serif;
	}

span.logo{
	font-size: 36px;
	line-height: 60px;
}

span.login{
	float: right;
	font-variant: small-caps;
	font-size: 20px;
	line-height: 60px;
	margin-top: 8px;
}

a{
	color: #222222;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}

p{
	line-height: 1.5;
}
